.menu {
  &-link {
    color: black;
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 72px;
    letter-spacing: 2px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

    &:hover {
      -webkit-transform: scale(1.15, 1.15);
    }

    &-1 {
      &:hover {
        color: skyblue;
      }
    }
    &-2 {
      &:hover {
        color: skyblue;
      }
    }
    &-3 {
      &:hover {
        color: skyblue;
      }
    }
    &-4 {
      &:hover {
        color: skyblue;
      }
    }
  }
}


@media only screen and (max-width: 1012px) {
  .menu {
    &-link {
      font-size: 32px;
      line-height: 64px;
    }
  }
}