

.hero-body {
  padding-top: 0!important;
}

.projects-list {
  position: absolute;
  top: 0;
  left: 0;
}

.projects-title {
  color: black;
  font-family: 'Gilroy';
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 2px;
  position: fixed;
  left: -27px;
  top: 50%;
  transform: rotate(-90deg)
}

@media only screen and (max-width: 1342px) {
  .projects-title {
    display: none;
  }
}


@media only screen and (max-width: 1216px) {
  .projects-title {
    display: block;
  }
}

@media only screen and (max-width: 1124px) {
  .projects-title {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .projects-title {
    display: block;
  }
}

@media only screen and (max-width: 8204px) {
  .projects-title {
    display: none;
  }
}
