@import '../../../../styles/_colors.scss';
@import '../button.scss';

.small-button {
  border-color: $primaryColor;
  color: $primaryColor;

  &:hover {
    background-color: $primaryColor;
    color: white;
    border: none;
  }
}