.footer {
  position:fixed;
  bottom:0;
  width:100%;
  padding: 2rem;
  background: RGBA(255,255,255, 0);

  .copywrite {
    &-container {
      position: relative;
      height: 1.75rem;
      margin: 0;
    }

    &-content {
      position: absolute;
      bottom: 0;
      left: 0;
      text-align: left;
      font-weight: bold;
      font-size: 14px;
      color: black;
    }
  }

  .social-logo {
    width: 1.75rem;
    float: right;
    margin-left: .5rem;
    cursor: pointer;
  }
}