.project-card {
  min-height: 100vh;
  text-align: left;
  width: 70vw;
  margin: 0 auto;
  padding-top: 100px;

  &-text{
    z-index: 3;
    position: absolute;
  }

  &-title {
    color: black;
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 72px;
    letter-spacing: 2px;
  }

  &-skill {
    color: black;
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 8px;
    margin-left: 200px;
  }

  &-description {
    color: black;
    font-family: 'Gilroy';
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 2px;
    max-width: 300px;;
  }

  &-link {
    color: black;
    font-size: 24px;
    letter-spacing: 2px;
  }

  &-image {
    width: 900px;
    height: 600px;
    float: right;
    // box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

    &-filter {
      width: 100%;
      height: 100%;
      background: linear-gradient(0.35turn, RGBA(255,255,255, 0.25), transparent);
    }

    &:after {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
      opacity: 0;
      -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    &:hover {
      -webkit-transform: scale(1.01, 1.01);
      transform: scale(1.01, 1.01);
    }
    
    &:hover::after {
        opacity: 1;
    }
  }

  .reincarnage {
    position: relative;
    animation: float-up 24s ease-in-out infinite;

    &-image {
      position: absolute;
      transform: translate(0px);
    }

    &-large-cloud {
      top: -10px;
      right: -40px;
      width: 350px;
      animation: slide-right 18s ease-in-out infinite;
    }
    &-medium-cloud {
      top: 300px;
      left: -50px;
      width: 300px;
      animation: slide-left 18s ease-in-out infinite;
    }
    &-small-cloud {
      top: 10px;
      left: 80px;
      width: 250px;
      animation: float-down 18s ease-in-out infinite;
    }
    &-bird {
      top: 175px;
      left: 350px;
      animation: float-down 24s ease-in-out infinite;
    }
  }
}

@keyframes float-up {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}


@keyframes float-down {
	0% {
		transform: translatey(-20px);
	}
	50% {
		transform: translatey(0px);
	}
	100% {
		transform: translatey(-20px);
	}
}

@keyframes slide-left {
	0% {
		transform: translatex(0px);
	}
	50% {
		transform: translatex(-25px);
	}
	100% {
		transform: translatex(0px);
	}
}


@keyframes slide-right {
	0% {
		transform: translatex(0px);
	}
	50% {
		transform: translatex(+30px);
	}
	100% {
		transform: translatex(0px);
	}
}