.project-card {
  height: 600px;
  width: 100%;
  position: relative;

  &-container {
    height: 100vh;
    text-align: left;
    width: 1176px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
  }

  &-text{
    z-index: 3;
    position: absolute;
    padding-top: 125px;
    height: 100%;
    width: 10px;
  }

  &-title {
    position: relative;
    color: black;
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 72px;
    letter-spacing: 4px;
    line-height: 1.02;
    white-space: -moz-pre; /* Firefox */
    white-space: -o-pre; /* Opera */
    white-space: pre; /* Chrome */
  }

  &-skill {
    position: relative;
    color: black;
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 8px;
    margin-left: 200px;
    white-space: -moz-pre; /* Firefox */
    white-space: -o-pre; /* Opera */
    white-space: pre; /* Chrome */
  }

  &-description {
    position: absolute;
    bottom: 140px;
    color: black;
    font-family: 'Gilroy';
    font-weight: 300;
    font-size: 16px;
    width: 220px;
  }

  &-link {
    position: absolute;
    bottom: 70px;
    font-weight: bold;
    color: black;
    font-size: 12px;
    letter-spacing: 2px;
    white-space: -moz-pre; /* Firefox */
    white-space: -o-pre; /* Opera */
    white-space: pre; /* Chrome */
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

    &:hover {
      border-bottom: 1px transparent solid!important;
    }
  }

  &-image {
    width: 900px;
    height: 100%;
    float: right;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

    &:hover {
      -webkit-transform: scale(.99, .99);
      transform: scale(.99, .99);
    }
    
    &:hover::after {
        opacity: 1;
    }
  }

  .reincarnage {
    position: relative;
    animation: float-up 12s ease-in-out infinite;

    &-image {
      position: absolute;
      transform: translate(0px);
    }

    &-large-cloud {
      top: -10px;
      right: -40px;
      width: 350px;
      animation: slide-right 18s ease-in-out infinite;
    }
    &-medium-cloud {
      top: 300px;
      left: -50px;
      width: 300px;
      animation: slide-left 18s ease-in-out infinite;
    }
    &-small-cloud {
      top: 10px;
      left: 80px;
      width: 250px;
      animation: float-down 18s ease-in-out infinite;
    }
    &-bird {
      top: 220px;
      left: 480px;
      width: 273.5px;
      height: 250px;
      -webkit-animation: play .56s steps(4) infinite;
      -moz-animation: play .56s steps(4) infinite;
      -ms-animation: play .56s steps(4) infinite;
      -o-animation: play .56s steps(4) infinite;
      animation: play .56s steps(4) infinite;

      @-webkit-keyframes play {
        from { background-position:    0px; }
          to { background-position: -1292px; }
      }
     
      @-moz-keyframes play {
          from { background-position:    0px; }
            to { background-position: -1292px; }
      }
     
      @-ms-keyframes play {
          from { background-position:    0px; }
            to { background-position: -1292px; }
      }
     
      @-o-keyframes play {
          from { background-position:    0px; }
            to { background-position: -1292px; }
      }
      
      @keyframes play {
          from { background-position:    0px; }
            to { background-position: -1358px; }
      }
    }
  }
}

@keyframes float-up {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}


@keyframes float-down {
	0% {
		transform: translatey(-20px);
	}
	50% {
		transform: translatey(0px);
	}
	100% {
		transform: translatey(-20px);
	}
}

@keyframes slide-left {
	0% {
		transform: translatex(0px);
	}
	50% {
		transform: translatex(-25px);
	}
	100% {
		transform: translatex(0px);
	}
}


@keyframes slide-right {
	0% {
		transform: translatex(0px);
	}
	50% {
		transform: translatex(+30px);
	}
	100% {
		transform: translatex(0px);
	}
}

@media only screen and (max-width: 1216px) {
  .project-card {
    height: 517px;
  
    &-container {
      width: 972px;
    }
  
    &-text{
      padding-top: 100px;
    }
  
    &-title {
      font-size: 60px;
      letter-spacing: 3px;
    }

    &-skill {
      margin-left: 130px;
      width: 240px;
    }
  
    &-description {
      bottom: 100px;
      font-size: 14px;
      width: 180px;
    }
  
    &-link {
      position: absolute;
      bottom: 50px;
      font-weight: bold;
      color: black;
      font-size: 12px;
      letter-spacing: 2px;
    }
  
    &-image {
      width: 776px;
    }

    .reincarnage {
      -webkit-transform: scale(.86, .86);
      transform: scale(.86, .86);

      &-large-cloud {
        top: 0;
        right: 14px;
        width: 300px;
      }
      &-medium-cloud {
        top: 258px;
        left: -20px;
        width: 258px;
      }
      &-small-cloud {
        top: 8px;
        left: 70px;
        width: 215px;
      }
      &-bird {
        top: 160px;
        left: 340px;
        -webkit-transform: scale(.86, .86);
        transform: scale(.86, .86);
      }
    }
  }
}

@media only screen and (max-width: 1024px), only screen and (max-height: 720px) {
  .project-card {
    height: 325px;
  
    &-container {
      width: 655px;
    }
  
    &-text{
      padding-top: 40px;
    }
  
    &-title {
      font-size: 46px;
      letter-spacing: 1px;
    }
  
    &-skill {
      font-size: 14px;
      letter-spacing: 4px;
      margin-left: 122px;
    }
  
    &-description {
      bottom: 50px;
      font-size: 14px;
      line-height: 16px;
      width: 158px;
    }
  
    &-link {
      bottom: 20px;
    }
  
    &-image {
      width: 487px;
    }

    .reincarnage {
      &-large-cloud {
        top: -15.4px;
        right: 20px;
        width: 189px;
      }
      &-medium-cloud {
        top: 162px;
        left: 10px;
        width: 164px;
      }
      &-small-cloud {
        top: 30px;
        left: 40px;
        width: 115px;
      }
      &-bird {
        top: 50px;
        left: 160px;
        -webkit-transform: scale(.54, .54);
        transform: scale(.54, .54);
      }
    }
  }
}

@media only screen and (max-width: 670px) {
  .project-card {
    width: 540px;

    &-container {
      width: 100vw;
    }

    &-text {
      width: 100%;
      height: 0;
    }
  
    &-title {
      position: absolute;
      top: -60px;
      font-size: 48px;
      letter-spacing: 1px;
    }
  
    &-skill {
      position: absolute;
      top: 10px;
      left: -132px;
      font-size: 12px;
      letter-spacing: 0;
      background: black;
      color: white;
      padding: 1px 12px;
      width: 140px;
      text-align: center;
    }
  
    &-description {
      position: absolute;
      top: 380px;
      font-size: 16px;
      line-height: 18px;
      display: block;
      width: 65%;
    }
  
    &-link {
      position: relative;
      top: 440px;
    }
  
    &-image {
      height: 360px;
      width: 540px;
    }
    .reincarnage {
      &-small-cloud {
        display: none;
      }
      &-bird {
        -webkit-transform: scale(.68, .68);
        transform: scale(.68, .68);
      }
    }
  }
}

@media only screen and (max-width: 560px) {
  .project-card {
    width: 405px;
  
    &-title {
      position: absolute;
      top: -60px;
      font-size: 36px;
      letter-spacing: 1px;
    }
  
    &-description {
      position: absolute;
      top: 300px;
      font-size: 16px;
      line-height: 20px;
      display: block;
    }
  
    &-link {
      top: 400px;
    }
  
    &-image {
      height: 270px;
      width: 405px;
    }

    .reincarnage {
      &-large-cloud {
        top: -10px;
        right: 10px;
        width: 160px;
      }
      &-medium-cloud {
        top: 140px;
        left: 0;
        width: 140px;
      }
      &-small-cloud {
        display: none;
      }
      &-bird {
        top: 20px;
        left: 80px;
        -webkit-transform: scale(.42, .42);
        transform: scale(.42, .42);
      }
    }
  }
}

@media only screen and (max-width: 430px) {
  .project-card {
    width: 315px;
    margin-bottom: none;
    margin-top: 160px;

    &-container {
      height: 100vh;
    }
  
    &-title {
      position: absolute;
      top: -40px;
      font-size: 24px;
      letter-spacing: 1px;
    }
  
    &-description {
      display: none;
      // position: absolute;
      // top: 230px;
      // font-size: 16px;
      // line-height: 18px;
      // display: block;
    }
  
    &-link {
      top: 180px;
    }
  
    &-image {
      height: 210px;
      width: 315px;
    }

    .reincarnage {
      &-large-cloud {
        top: -10px;
        right: 10px;
        width: 120px;
      }
      &-medium-cloud {
        top: 100px;
        left: 0;
        width: 120px;
      }
      &-bird {
        top: 0;
        left: 20px;
        -webkit-transform: scale(.36, .36);
        transform: scale(.36, .36);
      }
    }
  }
}


@media only screen and (max-width: 359px) {
  .project-card {
    width: 270px;
    margin-bottom: 24px;

    &-title {
      position: absolute;
      top: -30px;
      font-size: 24px;
    }
  
    &-description {
      // top: 190px;
      // width: 250px;
      // line-height: 16px;
    }
  
    &-link {
      top: 150px;
    }
  
    &-image {
      height: 180px;
      width: 270px;
    }

    .reincarnage {
      &-bird {
        left: -10px;
      }
    }
  }
}